.mt {
  --mt: 1;
  margin-top: calc(var(--mt) * var(--token-base-unit-rem));
}
.mt1 {
  margin-top: calc(1 * var(--token-base-unit-rem));
}
.mt2 {
  margin-top: calc(2 * var(--token-base-unit-rem));
}
.mt3 {
  margin-top: calc(3 * var(--token-base-unit-rem));
}
.mt4 {
  margin-top: calc(4 * var(--token-base-unit-rem));
}
.mt5 {
  margin-top: calc(5 * var(--token-base-unit-rem));
}

.mb {
  --mb: 1;
  margin-bottom: calc(var(--mb) * var(--token-base-unit-rem));
}
.mb1 {
  margin-bottom: calc(1 * var(--token-base-unit-rem));
}
.mb2 {
  margin-bottom: calc(2 * var(--token-base-unit-rem));
}
.mb3 {
  margin-bottom: calc(3 * var(--token-base-unit-rem));
}
.mb4 {
  margin-bottom: calc(4 * var(--token-base-unit-rem));
}
.mb5 {
  margin-bottom: calc(5 * var(--token-base-unit-rem));
}
