:root {
  --token-base-font-size: 16;
  --token-base-font: Roboto, sans-serif;
  --token-fluid-base-font-size: calc(0.75rem + (375px * 0.02));
  --token-font-scale: 1.33333;
}

@media (min-width: 375px) {
  :root {
    --token-fluid-base-font-size: calc(0.75rem + 2vw);
  }
}
@media (min-width: 1280px) {
  :root {
    --token-fluid-base-font-size: calc(0.75rem + (1280px * 0.02));
  }
}
